{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es2021",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        }
    },
    "sourceMaps": true
}
